/* Change html */
html
{
	height: 100%;
}
div#page1
{
	
	//For center align
	margin-left: auto;
	margin-right: auto;
	// For grow & shrink as per screen size change values as per your requirements
	width: 80%;
	height: 1000px;
	background-image: url(../image/scenery.jpg);
	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}

div#page2
{
	background-color: lightgray;
	//For center align
	margin-left: auto;
	margin-right: auto;
	// For grow & shrink as per screen size change values as per your requirements
	width: 80%;
	height: 50%;
}
div#page3
{
	background-color: lightgray;
	//For center align
	margin-left: auto;
	margin-right: auto;
	// For grow & shrink as per screen size change values as per your requirements
	width: 80%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* Change body */
body
{
	background-color: lightblue;
	min-height: 100%;
}

p 
{
	font-family: georgia;
	color: black;
	font-size: 100%;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 20px;
	padding-right: 10px;
}

#topBar li
{
	display: inline;
}
#topBar ul
{
	background-color: white;	
}

/* Styles within paragraphs */

em, cite 
{
	font-style: italic;
}

strong 
{
	margin-top: 50px;
	font-weight: bold;
}

code 
{
	font-family: georgia;
	font-size: 90%;
	color: gray;
}

blockquote 
{
	margin-left: 45px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: georgia;
}


/* Link styling */

a 
{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a:hover,
a:active,
a:focus 
{
	background-color: lightgray;
}


/* Headers */

h1 
{
	margin-top: 30px;
	margin-left: -5px;
	margin-right: -5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-family: georgia;
	font-weight: bold;
	font-size: 200%;
	background-color: #FFBF00;
}

h2 
{
	margin-top: 50px;
	margin-bottom: 10px;
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 5px;
	font-family: georgia;
	font-weight: bold;
	font-size: 150%;
	background-color: #31B404;
}

h3
{
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: -5px;
	padding-left: 5px;
	font-weight: normal;
	font-family: georgia;
	font-size: 100%;
	color: black;
}

/* List Styles */

li 
{
	list-style: disc;
	margin-left: 45px;
	font-family: georgia;
}

ul > li > ul > li 
{
	list-style: circle;
} /* These complex selectors can be formed by copying the CSS path using Chrome. I can show you this if they are useful for your project. */

ul > li > ol > li  
{
	list-style: decimal;
}
